body {
    height: 100vh;
    /* 
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-size: cover;
    
    background-attachment: fixed;
    
    SHORTHAND - background
    color > image > position > repeat > [size]
    */

   /* MODO DO PROFESSOR GUANABARA
    background: black url('imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover; 
    */

    /* DICA DO ALUNO
        color > image > position/size > repeat > attachment

        FUNCIONOU
    */
    background: black url('imagens/wallpaper002.jpg') center center/cover no-repeat fixed;
}

main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}